.env
.env.*
**/.env
**/.env.*

.venv/
**/.venv/

tests/
**/tests/

.git/
**/.git/
.gitignore

.pytest_cache/
.ruff_cache/
.mypy_cache/
.cache/
**/.cache/
**/__pycache__/
**/*.py[cod]
.coverage
htmlcov/

*.db
**/*.db
*.db-*
**/*.db-*
*.sqlite
**/*.sqlite
*.sqlite-*
**/*.sqlite-*
*.sqlite3
**/*.sqlite3

.DS_Store
